### .gitignore ---

*~

ebin/*.beam
ebin/*.app
examples/*.xml

aclocal.m4
configure
install-sh
stamp-*

# make test artifacts
ebin-test/
cover_report/

TEST-ts_test_all.xml
badpop.xml
http_distributed.xml
http_simple.xml
jabber.xml
jabber_muc.xml
pgsql.xml
src/test/badpop.xml
src/test/thinkfirst.xml
src/test/usersdb.csv
src/test/xmpp-muc.xml
test_case.xml
thinkfirst.xml
xmpp-muc.xml


# build artifacts
Makefile
config.log
config.status
src/log2tsung.pl
src/tsung-plotter/tsplot.py
src/tsung-rrd.pl
src/tsung/tsung.app
src/tsung_controller/tsung_controller.app
src/tsung_percentile.pl
src/tsung_recorder/tsung_recorder.app
src/tsung_stats.pl
tsung-recorder.sh
tsung.sh
tsung.spec
