/*
 * Extended cascading style sheet for IDEALX.org 
 * $Id: idealx_ext.css,v 1.1 2001/12/02 17:18:44 olem Exp $
 */

DIV.chapo	{
	background-color: #F5F5F5;
	border: 1px solid #00008B;
}

DIV.chapo P	{
	text-indent: 0em;
}

DIV.chapo P:first-letter	{
	color: #66CDAA;
	font-size: 200%;
	font-weight: bold;
}

DIV.index	{
	background-color: #F5F5F5;
	border: 1px solid #00008B;
	padding: 1em;
	margin: auto;
}

DIV.menu	{
	background-color: #F5F5F5;
	padding: 1em;
}

DIV.table-prj	{
	background-color: #F5F5F5;
}

DIV.quick-search	{
	background-color: #F5F5F5;
	border: 1px solid #00008B;
	margin-bottom: 20px;
}

DIV#topic,DIV#menu-doc	{
	background-color: #F5F5F5;
	border: 1px solid #00008B;
	margin-bottom: 20px;
	padding-left: 3em;
	font-family: sans-serif;
}

DIV#sub-topic	{
	background-color: #F5F5F5;
	border: 1px solid #00008B;
	margin-bottom: 20px;
	padding-left: 6em;
}

CAPTION.fiche-prj {
	caption-side: bottom;
	font-weight: bold;
	color: #000;
}

TABLE.events, TABLE.sites	{
	border: 1px solid #00008B;
	min-width: 24em;
}

TABLE.prj	{
	border: 1px solid #00008B;
	min-width: 30em;
}

TABLE.prj P:first-line {
	color: #00008B;
	font-weight: bold;
	text-transform: uppercase;
}

TABLE.fiche-prj	{
	border: 1px solid #CCCC99;
	margin: 1em;;
}

TD.events, TD.sites	{
	padding: 1em;
}

TD.prj-desc	{
	padding: 1em;
}

TD.d0, TD.d1	{
	padding: 0.2em;
}

TH.h0, TH.h1	{
	padding: 0.2em;
}

TH.prj-list	{
	padding: 0.2em;
}

TH.thtitre	{
	padding: 0.2em;
}

TH.thfoot	{
	padding: 0.2em;
}

